{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/am/addhost.css">
{%  endblock %}

{% block text %}
    <form action="/am/addenvgroup", method="post" id="commentForm">
        <p>
            <label for="id_EnvName" class="name">环境名称：</label>
            <input type="text" name="EnvName" id="id_EnvName" required>
            <span id="info_EnvName" class="info info2">请您输入环境名称</span>
        </p>
        <p>
            <label for="id_Note" class="name">备注：</label>
            <textarea name="Note" id="id_Note"></textarea>
        </p>
        <p>
            <input type="submit" id="sub" value="提交">
        </p>
    </form>
{% endblock %}

{% block js %}
    <script>
        var elm = document.getElementById("sub");
        elm.onclick = function () {
            var envName = document.getElementById("id_EnvName").value;
            if (envName === ""){
                $("#info_EnvName").removeClass("info");
                return false
            }
        };
        $("#id_EnvName").focus(function () {
            $("#info_EnvName").addClass("info");
        })
    </script>
{% endblock %}