{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/am/addhost.css">
{%  endblock %}

{% block text %}
<form action="/am/addhostgroup", method="post">
    <p>
        <label for="id_GroupName" class="name">分组名称：</label>
        <input type="text" name="GroupName" id="id_GroupName">
    </p>
    <p>
        <label for="id_Note" class="name">备注：</label>
        <textarea name="Note" id="id_Note"></textarea>
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>
{% endblock %}