{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/am/addhost.css">
    <style>
    label.error, #id_error_info{
        font-size: 12px;
        color: #fc4343;
    }
    .error_info{
        display: none;
    }
    </style>
{%  endblock %}

{% block body-right %}
    <form action="{%  url "addHostENV" %}" method="post" id="commentForm">
        <p>
            <label for="id_EnvName" class="name">环境名称：</label>
            <input type="text" name="EnvName" id="id_EnvName" required>
            <span id="id_error_info" class="error_info">环境名称已使用</span>
        </p>
        <p>
            <label for="id_Note" class="name">备注：</label>
            <textarea name="Note" id="id_Note"></textarea>
        </p>
        <p>
            <input type="submit" id="sub" value="提交">
        </p>
    </form>
{% endblock %}

{% block js %}
    <script src="/static/am/addHostENV_editHostENV.js"></script>
{% endblock %}