{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/am/addhost.css">
    <style>
    label.error{
        font-size: 12px;
        color: #fc4343;
    }
    </style>
{%  endblock %}

{% block body-right %}
<form action="{% url "changeHostENV" %}?id={{ data.id }}", method="post" id="commentForm">
    <p>
        <label for="id_EnvName" class="name">环境名称：</label>
        <input type="text" name="EnvName" id="id_EnvName" value={{ data.EnvName }}>
    </p>
    <p>
        <label for="id_Note" class="name">备注：</label>
        <textarea name="Note" id="id_Note">{{ data.Note }}</textarea>
    </p>
    <p>
        <input type="submit" value="保存">
    </p>
</form>
{% endblock %}

{% block js %}
    <script src="/static/am/addHostENV_editHostENV.js"></script>
{% endblock %}