{% extends 'am/add_network_device.html' %}

{% block body-right %}
<form action="{% url "change_network_device_info" %}?id={{ data.id }}" method="post" id="commentForm">
    <p>
        <label for="id_Name" class="name">设备名称：</label>
        <input type="text" name="Name" id="id_Name" value="{{ data.Name }}">
        <span id="id_error_info" class="error_info">名称不能以空格开头</span>
    </p>
    <p>
        <label for="id_User" class="name">SSH远程管理用户：</label>
        <input type="text" name="User" id="id_User" value="{{ data.ManageUser }}">
    </p>
    <p>
        <label for="id_IP" class="name">SSH远程管理IP：</label>
        <input type="text" name="IP" id="id_IP" value="{{ data.ManageIP }}">
    </p>
    <p>
        <label for="id_Password" class="name">SSH远程管理密码：</label>
        <input type="password" name="Password" id="id_Password" value="{{ password }}">
    </p>
    <p>
        <label for="id_webUser" class="name">Web远程管理用户：</label>
        <input type="text" name="webUser" id="id_webUser" value="{{ data.WebManageUser }}">
    </p>
    <p>
        <label for="id_webIP" class="name">Web远程管理地址：</label>
        <input type="text" name="webIP" id="id_webIP" value="{{ data.WebManageIP }}">
    </p>
    <p>
        <label for="id_webPassword" class="name">Web远程管理密码：</label>
        <input type="password" name="webPassword" id="id_webPassword" value="{{ web_password }}">
    </p>
    <p>
        <label for="id_consoleUser" class="name">Console用户名：</label>
        <input type="password" name="consoleUser" id="id_consoleUser" value="{{ data.ConsoleUser }}">
    </p>
    <p>
        <label for="id_consolebPassword" class="name">Console密码：</label>
        <input type="password" name="consolePassword" id="id_consolebPassword" value="{{ console_password }}">
    </p>
    <p>
        <label for="id_Type" class="name">类型：</label>
        <select name="Type" id="id_Type">
            <option style='display: none'></option>
            {% if data.Type == "交换机" %}
                <option selected="selected">交换机</option>
            {% else %}
                <option>交换机</option>
            {% endif %}
            {% if data.Type == "路由器" %}
                <option selected="selected">路由器</option>
            {% else %}
                <option>路由器</option>
            {% endif %}
            {% if data.Type == "防火墙" %}
                <option selected="selected">防火墙</option>
            {% else %}
                <option>防火墙</option>
            {% endif %}
            {% if data.Type == "AD" %}
                <option selected="selected">AD</option>
            {% else %}
                <option>AD</option>
            {% endif %}
            {% if data.Type == "AC" %}
                <option selected="selected">AC</option>
            {% else %}
                <option>AC</option>
            {% endif %}
            {% if data.Type == "其它" %}
                <option selected="selected">其它</option>
            {% else %}
                <option>其它</option>
            {% endif %}
        </select>
    </p>
    <p>
        <label for="id_Brand" class="name">品牌：</label>
        <select name="Brand" id="id_Brand">
            <option style='display: none'></option>
            {% if data.Brand == "H3C" %}
                <option selected="selected">H3C</option>
            {% else %}
                <option>H3C</option>
            {% endif %}
            {% if data.Brand == "华为" %}
                <option selected="selected">华为</option>
            {% else %}
                <option>华为</option>
            {% endif %}
            {% if data.Brand == "深信服" %}
                <option selected="selected">深信服</option>
            {% else %}
                <option>深信服</option>
            {% endif %}
            {% if data.Brand == "爱快" %}
                <option selected="selected">爱快</option>
            {% else %}
                <option>爱快</option>
            {% endif %}
            {% if data.Brand == "大华" %}
                <option selected="selected">大华</option>
            {% else %}
                <option>大华</option>
            {% endif %}
            {% if data.Brand == "TP-LINK" %}
                <option selected="selected">TP-LINK</option>
            {% else %}
                <option>TP-LINK</option>
            {% endif %}
            {% if data.Brand == "其它" %}
                <option selected="selected">其它</option>
            {% else %}
                <option>其它</option>
            {% endif %}
        </select>
    </p>
    <p>
        <label for="id_Owner" class="name">所有者：</label>
        <select name="Owner" id="id_Owner">
            <option style='display: none'></option>
            {% if data.Owner == "电信" %}
                <option selected="selected">电信</option>
            {% else %}
                <option>电信</option>
            {% endif %}
            {% if data.Owner == "高锦" %}
                <option selected="selected">高锦</option>
            {% else %}
                <option>高锦</option>
            {% endif %}
        </select>
    </p>
    <p>
        <label for="id_Position" class="name">位置：</label>
        <input type="text" name="Position" id="id_Position" value="{{ data.Position }}">
    </p>
    <p>
        <label for="id_Note" class="name">备注：</label>
        <textarea name="Note" id="id_Note">{{ data.Note }}</textarea>
    </p>
    <p>
        <input type="submit" id="sub" value="保存">
    </p>
</form>
{% endblock %}

{% block js %}
    <script src="/static/am/addNetwork_editNetwork.js"></script>
{% endblock %}