{% extends 'am/addhostgroup.html' %}

{% block body-right %}
<form action="{% url "changeHostGroup" %}?id={{ data.id }}", method="post" id="commentForm">
    <p>
        <label for="id_GroupName" class="name">分组名称：</label>
        <input type="text" name="GroupName" id="id_GroupName" value={{ data.GroupName }}>
        <span id="info_GroupName" class="info info2">请您输入分组名称</span>
    </p>
    <p>
        <label for="id_Note" class="name">备注：</label>
        <textarea name="Note" id="id_Note">{{ data.Note }}</textarea>
    </p>
    <p>
        <input type="submit" id="sub" value="保存">
    </p>
</form>
{% endblock %}

{% block js %}
    <script>
        var elm = document.getElementById("sub");
        elm.onclick = function () {
            var envName = document.getElementById("id_GroupName").value;
            if (envName === ""){
                $("#info_GroupName").removeClass("info");
                return false;
            }
        };
        $("#id_GroupName").focus(function () {
            $("#info_GroupName").addClass("info");
        })
    </script>
{% endblock %}