{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/am/addhost.css">
    <style>
    label.error{
        font-size: 12px;
        color: #fc4343;
    }
    </style>
{%  endblock %}

{% block body-right %}
<form action="{% url "changeHostInfo" %}?id={{ data.id }}", method="post" id="commentForm">
    <p>
        <label for="id_ServerName" class="name">服务器名称：</label>
        <input type="text" name="ServerName" id="id_ServerName" value="{{ data.ServerName }}">
    </p>
    <p>
        <label for="id_IP" class="name">IP地址：</label>
        <input type="text" name="IP" id="id_IP" value="{{ data.IP }}">
    </p>
    <p>
        <label for="id_RemotePort" class="name">远程端口：</label>
        <input type="text" name="RemotePort" id="id_RemotePort" value="{{ data.RemotePort }}">
    </p>
    <p>
        <label for="id_SuperUser" class="name">超级用户名：</label>
        <input type="text" name="SuperUser" id="id_SuperUser" value="{{ data.SuperUser }}">
    </p>
    <p>
        <label for="id_SuperUserPass" class="name">超级用户密码：</label>
        <input type="password" name="SuperUserPass" id="id_SuperUserPass" value="{{ data.SuperUserPass }}">
    </p>
    <p>
        <label class="name">使用环境：</label>
        <select name="Environment">
            <option>===请选择===</option>
            {% for i in envData %}>
                {% if data.Environment == i.EnvName %}
                    <option selected="selected">{{ i.EnvName }}</option>
                {% else %}
                    <option>{{ i.EnvName }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <label class="name">主机分组：</label>
        <select name="HostGroup" size="5" multiple>
            {% for i in hostGroupData %}>
                {% if i.GroupName in usegroupdata %}
                    <option selected="selected">{{ i.GroupName }}</option>
                {% else %}
                    <option>{{ i.GroupName }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="id_OSType" class="name">操作系统类型：</label>
        <input type="text" name="OSType" id="id_OSType" value="{{ data.OSType }}">
    </p>
    <p>
        <label for="id_OSVersion" class="name">操作系统版本：</label>
        <input type="text" name="OSVersion" id="id_OSVersion" value="{{ data.OSVersion }}">
    </p>
    <p>
        <span class="name">是否加入监控</span>
        {% if ZabbixData.0.Zabbix == "True" %}
            <label for="id_ZabbixY">是</label>
            <input type="radio" name="Zabbix" id="id_ZabbixY" value="True" checked="checked">
            <label for="id_ZabbixN">否</label>
            <input type="radio" name="Zabbix" id="id_ZabbixN" value="False">
        {% else %}
            <label for="id_ZabbixY">是</label>
            <input type="radio" name="Zabbix" id="id_ZabbixY" value="True">
            <label for="id_ZabbixN">否</label>
            <input type="radio" name="Zabbix" id="id_ZabbixN" value="False" checked="checked">
        {% endif %}
    </p>
    <p>
        <span class="name">是否加入自动化运维：</span>
        {% if SaltData.0.Salt == "True" %}
            <label for="id_SaltY">是</label>
            <input type="radio" name="Salt" id="id_SaltY" value="True" checked="checked">
            <label for="id_SaltN">否</label>
            <input type="radio" name="Salt" id="id_SaltN" value="False">
        {% else %}
            <label for="id_SaltY">是</label>
            <input type="radio" name="Salt" id="id_SaltY" value="True">
            <label for="id_SaltN">否</label>
            <input type="radio" name="Salt" id="id_SaltN" value="False" checked="checked">
        {% endif %}

    </p>
    <p>
        <span class="name">是否加入堡垒机：</span>
        {% if JumpserverData.0.Jumpserver == "True" %}
            <label for="id_JumpserverY">是</label>
            <input type="radio" name="Jumpserver" id="id_JumpserverY" value="True" checked="checked">
            <label for="id_JumpserverN">否</label>
            <input type="radio" name="Jumpserver" id="id_JumpserverN" value="False">
        {% else %}
            <label for="id_JumpserverY">是</label>
            <input type="radio" name="Jumpserver" id="id_JumpserverY" value="True">
            <label for="id_JumpserverN">否</label>
            <input type="radio" name="Jumpserver" id="id_JumpserverN" value="False" checked="checked">
        {% endif %}
    </p>
    <p>
        <span class="name">是否记录密码：</span>
        {% if KeepassData.0.Keepass == "True" %}
            <label for="id_KeepassY">是</label>
            <input type="radio" name="Keepass" id="id_KeepassY" value="True" checked="checked">
            <label for="id_KeepassN">否</label>
            <input type="radio" name="Keepass" id="id_KeepassN" value="False">
        {% else %}
            <label for="id_KeepassY">是</label>
            <input type="radio" name="Keepass" id="id_KeepassY" value="True">
            <label for="id_KeepassN">否</label>
            <input type="radio" name="Keepass" id="id_KeepassN" value="False" checked="checked">
        {% endif %}
    </p>
    <p>
        <label for="id_Note" class="name">备注：</label>
        <textarea name="Note" id="id_Note"></textarea>
    </p>
    <p>
        <input type="submit" value="保存">
    </p>
</form>
{% endblock %}

{% block js %}
    <script src="/static/am/addHost_editHost.js"></script>
{% endblock %}