{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/hostgroup.css"></link>
{% endblock %}

{% block text %}
<h3>主机环境如下：</h3>
<table class="altrowstable" id="alternatecolor">
    <thead>
        <tr>
            <th>ID</th>
            <th>环境名称</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
         {% for i in data %}
             <tr>
                 <td style="width: 20px">{{ forloop.counter }}</td>
                 <td style="width: 160px">{{ i.EnvName }}</td>
                 <td style="width: 270px">{{ i.Note }}</td>
                 <td style="width: 80px">
                     <a id="edit" href="edit?envgroup={{ i.id }}">编辑</a>
                     <a id="del" href="del?envgroup={{ i.id }}">删除</a>
                 </td>
             </tr>
         {% endfor %}
    </tbody>
</table>
<div id="newadd">
    <a id="add" href="/am/addenvgroup">新增环境</a>
</div>

<script>
    function altRows(id){
        if(document.getElementsByTagName){

            var table = document.getElementById(id);
            var rows = table.getElementsByTagName("tr");

            for(var i=0;i<rows.length;i++){
                if(i % 2 === 0){
                    rows[i].className = "evenrowcolor";
                }else{
                    rows[i].className = "oddrowcolor";
                }
            }
        }
    }

    window.onload=function(){
        altRows('alternatecolor');
    }
</script>
{% endblock %}
