{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/button.css">
{% endblock %}

{% block body-right %}
    <h3>主机环境如下：</h3>
    <div class="opeartion">
        <div class="opeartion-add">
            <a id="addButton" href="{% url "addHostENV" %}">新增环境</a>
        </div>
        <div class="opeartion-del">
            <a id="delButton">删除选中环境</a>
        </div>
        <div style="clear:both;"></div>
    </div>
    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 20px"><input type="checkbox" id="is_checked"></th>
                <th style="width: 160px">环境名称</th>
                <th style="width: 270px">备注</th>
                <th style="width: 80px">操作</th>
            </tr>
        </thead>
        <tbody>
             {% for i in data %}
                 <tr>
                     <td><input type="checkbox" name="{{ i.id }}"></td>
                     <td>{{ i.EnvName }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a id="edit" href="{% url "edit" %}?hostENVGroup={{ i.id }}">编辑</a>
                         <a id="del" href="{% url "delete" %}?hostENVGroup={{ i.id }}" onclick="return checked(this)" name="{{ i.id }}">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="/static/tables.js"></script>
    <script>
    $("#delButton").click(function () {
        var data = [];
        var elm = $("tbody input").each(function () {
            if ($(this).prop("checked")){
                data.push($(this).attr("name"));
            }
        });
        if (data.length === 0){
            alert("你没有选择任何环境");
        }else{
            $.ajax({
                url: "/am/delete",
                type: "post",
                data: {"host_env": data},
                traditional: true,
                success: function (arg) {
                    if (arg === "successful"){
                        location.reload();
                    }else {
                        alert("选中的环境有主机正在使用，无法删除")
                    }
                },
                fail: function () {
                }
            });
        }
    });
    function checked(ths) {
        var data = ths.name;
        var flag = true;
        $.ajax({
            url: "/am/check_use",
            data: {"host_env": data},
            traditional: true,
            async: false,           {% comment %}使用同步请求{% endcomment %}
            success: function (arg) {
                if (arg !== "OK"){
                    alert("该环境有主机正在使用，无法删除！");
                    flag = false;            {% comment %}不可以在ajax直接返回flase{% endcomment %}
                }
            }
        });
        return flag
    }
    </script>
{% endblock %}
