{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/button.css">
    <style>
    #opeartion-filter{
        float: left;
        width: 30%;
        height: 28px;
    }
    #opeartion-search{
        float: left;
        width: 30%;
        height: 28px;
    }
    #opeartion-search input[type="text"]{
        height: 22px
    }
    select{
        padding: 4px 12px;
        font-size: 14px;
        width: 100px;
    }
    input[type="submit"]{
        background-color: #18a689;
        border-color: #18a689;
        color: #FFFFFF;
        padding: 3px 10px;
        font-size: 12px;
        height: 27px
    }
    </style>
{% endblock %}

{% block body-right %}
    <h3>主机信息如下：</h3>
    <div class="opeartion">
        <div class="opeartion-add">
{#            <a id="addButton" href="{% url "addHost" %}">新增主机</a>#}
            <a id="addButton">新增主机</a>
        </div>
        <div class="opeartion-del">
            <a id="delButton">删除选中主机</a>
        </div>

        <form action="{% url "hostInfo" %}" method="post">
            <div id="opeartion-filter">
                <select name="ENVName" id="filter_env">
                    <option>环境</option>
                    {% for i in envData %}
                        <option>{{ i.EnvName }}</option>
                    {% endfor %}
                </select>
                <select name="GroupName" id="filter_group_name">
                    <option>分组</option>
                    {% for i in hostData %}
                        <option>{{ i.GroupName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="opeartion-search">
                <input type="text" name="Other" placeholder="可填写主机名或IP地址">
                <input type="submit" value="-搜索-">
            </div>
            <div style="clear:both;"></div>
        </form>

    </div>
    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 20px"><input type="checkbox" id="is_checked"></th>
                <th style="width: 160px">服务器名称</th>
                <th style="width: 110px">IP地址</th>
                <th style="width: 70px">监控</th>
                <th style="width: 70px">自动化运维</th>
                <th style="width: 70px">堡垒机</th>
                <th style="width: 70px">密码记录</th>
                <th style="width: 270px">备注信息</th>
                <th style="width: 160px">操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
             {% for i in data %}
                 <tr>
                     <td><input type="checkbox" name="{{ i.id }}"></td>
                     <td>{{ i.ServerName }}</td>
                     <td>{{ i.IP }}</td>
                     <td>{{ i.Zabbix }}</td>
                     <td>{{ i.Salt }}</td>
                     <td>{{ i.Jumpserver }}</td>
                     <td>{{ i.Keepass }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a id="moreInfo" href="{% url "hostMoreInfo" %}?host={{ i.id }}">详细信息</a>
                         <a id="edit" href="{% url "edit" %}?host={{ i.id }}">编辑</a>
                         <a id="del" href="{% url "delete" %}?host={{ i.id }}">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="/static/tables.js"></script>
    <script>
    $("#delButton").click(function () {
        var data = [];
        var elm = $("tbody input").each(function () {
            if ($(this).prop("checked")){
                data.push($(this).attr("name"));
            }
        });
        if (data.length === 0){
            alert("你没有选择任何主机");
        }else{
            $.ajax({
                url: "/am/delete",
                type: "post",
                data: {"host": data},
                traditional: true,
                success: function (arg) {
                    if (arg === "successful"){
                        location.reload();
                    }
                },
                fail: function () {
                }
            });
        }
    });

    $("#addButton").click(function () {
        $.ajax({
            url: "/am/check_is_exist",
            success: function (arg) {
                if (arg === "1"){
                    alert("请先创建主机分组")
                }else if (arg === "2"){
                    alert("请先创建环境")
                }else {
                    window.location.href = "/am/addHost"
                }
            },
            fail: function () {
            }
        })
    });

    function get_group_env() {
        var group_name = $("#filter_group_name").val();
        var env_name = $("#filter_env").val();
        if (group_name === "分组" && env_name !== "环境"){
            return {"env_name": env_name, "group_name": ""}
        }else if (env_name === "环境" && group_name !== "分组"){
            return {"group_name": group_name, "env_name": ""}
        }else if (env_name === "环境" &&  group_name === "分组") {
            return {"group_name": "", "env_name": ""}
        } else {
            return {"group_name": group_name, "env_name": env_name}
        }
    }

    $("#filter_group_name, #filter_env").change(function () {
        var data = get_group_env();
        $.ajax({
            url: "/am/search",
            type: "post",
            data: data,
            dataType: "json",   {% comment %}指定接收到的数据类型{% endcomment %}
            success: function (arg) {
                $("#tbody").html("");   {% comment %}清空原有的表单内容{% endcomment %}
{#                将后端数据组合成新的表单内容#}
                var content = '';
                $.each(arg, function (index, item) {    {% comment %}index和item为固定写法{% endcomment %}
                    content += "<tr>" +
                        "<td><input type='checkbox' name=" +item.pk+"></td>" +
                        "<td>"+item.fields.ServerName+"</td>" +
                        "<td>"+item.fields.IP+"</td>" +
                        "<td>"+item.fields.Zabbix+"</td>" +
                        "<td>"+item.fields.Salt+"</td>" +
                        "<td>"+item.fields.Jumpserver+"</td>" +
                        "<td>"+item.fields.Keepass+"</td>" +
                        "<td>"+item.fields.Note+"</td>" +
                        "<td>"+
                            "<a style='margin-right: 4px;' id='moreInfo' href=/am/hostMoreInfo?host="+item.pk+">详细信息</a>" +
                            "<a style='margin-right: 4px;' id='edit' href=/am/edit?host="+item.pk+">编辑</a>" +
                            "<a style='margin-right: 4px;' id='del' href=/am/delete?host="+item.pk+">删除</a>" +
                        "</td>" +
                        "</tr>"
                });
                $("#tbody").html(content);  {% comment %}将新的表单添加进网页{% endcomment %}
                (function () {
                    altRows("alternatecolor");       {% comment %}执行altRows函数，改变显示颜色{% endcomment %}
                })()
            }
        });
    });
    </script>
{% endblock %}