{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/button.css">
    <link rel="stylesheet" type="text/css" href="/static/am/verification.css">
    <style>
    #opeartion-filter{
        float: left;
        width: 30%;
        height: 28px;
    }
    #opeartion-search{
        float: right;
        height: 28px;
        width: 40%;
    }
    #opeartion-search input[type="text"]{
        height: 22px;
        width: 259px;
    }
    select{
        padding: 4px 12px;
        font-size: 14px;
        width: 120px;
        font-family: "FangSong_GB2312";
        border-radius: 4px;
    }
    #other{
        float: right;
        margin-right: 2px;
    }
    </style>
{% endblock %}

{% block body-right %}
    <h3>主机信息如下：</h3>
    <div class="opeartion">
        <div id="add_del">
            <a id="addButton">新增主机</a>
            <a id="delButton">删除选中主机</a>
        </div>
        <div id="opeartion-filter">
            <label for="filter_env"></label>
            <select name="ENVName" id="filter_env">
                <option>环境</option>
                {% for i in envData %}
                    <option>{{ i.EnvName }}</option>
                {% endfor %}
            </select>
            <label for="filter_group_name"></label>
            <select name="GroupName" id="filter_group_name">
                <option>分组</option>
                {% for i in hostData %}
                    <option>{{ i.GroupName }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="opeartion-search">
            <a id="search">-搜索-</a>
            <input id="other" type="text" name="Other" placeholder="可填写主机名或IP地址">
        </div>
        <div style="clear:both;"></div>
    </div>
    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 1%"><label for="is_checked"></label><input type="checkbox" id="is_checked"></th>
                <th style="width: 16%">服务器名称</th>
                <th style="width: 11%">IP地址</th>
                <th style="width: 7%">监控</th>
                <th style="width: 7%">自动化运维</th>
                <th style="width: 7%">堡垒机</th>
                <th style="width: 7%">密码记录</th>
                <th style="width: 26%">备注信息</th>
                <th style="width: 17%">操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
             {% for i in data %}
                 <tr>
                     <td><label for="{{ i.id }}"></label><input type="checkbox" name="{{ i.id }}" id="{{ i.id }}"></td>
                     <td>{{ i.ServerName }}</td>
                     <td>{{ i.IP }}</td>
                     <td>{{ i.Zabbix }}</td>
                     <td>{{ i.Salt }}</td>
                     <td>{{ i.Jumpserver }}</td>
                     <td>{{ i.Keepass }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a class="get_password" href="javascript:void(0)" id="{{ i.id }}">获取密码</a>
                         <a id="edit" href="{% url "edit" %}?editHost={{ i.id }}">编辑</a>
                         <a id="clone" href="{% url "edit" %}?cloneHost={{ i.id }}">克隆</a>
                         <a id="del" href="{% url "delete" %}?host={{ i.id }}" onclick="return checked()">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
    <div id="table_bottom">
        <span id="total_number"></span>
        <ul class="pagination" id="pagination">
        </ul>
    </div>

{% endblock %}

{% block down %}
    <div id="verification_block"></div>
    <div id="verification_div">
        <div>
            <span id="verification_title">手机验证</span>
        </div>
        <div id="verification_body">
            <p style="font-size: 12px;">
                <span id="verification_phone">你绑定的手机：133****0502</span>
            </p>
            <p style="font-size: 12px;">
                <label for="verification_code" id="verification_code_info">校验码：</label>
                <input type="text" id="verification_code" name="name_verification_code">
                <span id="verification_get">获取验证码</span><br>
                <span class="error" id="verification_fail">验证失败</span>
                <span class="error" id="send_fail">系统异常，发送失败</span>
                <span class="error" id="repeat">请勿在5分钟内重复发送</span>
                <span class="error" id="send_success">发送成功，5分钟有效时长</span>
                <span class="error" id="no_code">请输入验证码</span>
                <span class="error" id="valid_code">请输入有效验证码</span>
                <span class="error" id="not_exist">验证码未发送</span>
            </p>
        </div>
        <div id="verification_bottom">
            <span id="get_password">获取密码</span>
            <span id="close">取消</span>
        </div>
        <div id="passwd">
            <span>密码：</span>
            <span id="passwd_value"></span>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/tables.js"></script>
    <script src="/static/am/verification.js"></script>
    <script>
{#    批量删除按钮#}
    $("#delButton").click(function () {
        var data = [];
        $("tbody input").each(function () {
            if ($(this).prop("checked")){
                data.push($(this).attr("name"));
            }
        });
        if (data.length === 0){
            alert("你没有选择任何主机");
        }else{
            if (confirm("确认删除选中主机？")){
                $.ajax({
                    url: "/am/delete",
                    type: "post",
                    data: {"host": data},
                    traditional: true,
                    success: function (arg) {
                        if (arg === "successful"){
                            window.location.href = "/am/host_info?page=1"
                        }
                    },
                    fail: function () {
                    }
                });
            }
        }
    });
{#    新增按钮#}
    $("#addButton").click(function () {
        $.ajax({
            url: "/am/check_is_exist",
            success: function (arg) {
                if (arg === "1"){
                    alert("请先创建主机分组")
                }else if (arg === "2"){
                    alert("请先创建环境")
                }else {
                    window.location.href = "/am/add_host"
                }
            }
        })
    });

    function get_group_env(page) {
        var group_name = $("#filter_group_name").val();
        var env_name = $("#filter_env").val();
        url = "/am/search_server" + "?env_name=" + env_name + "&" + "group_name=" + group_name + "&" + "page=" + page;
        return url;
    }
    function search(data) {
        $.ajax({
            url: data,
            type: "get",
            dataType: "json",   {% comment %}指定接收到的数据类型{% endcomment %}
            success: function (arg) {
{#                将后端数据组合成新的表单内容#}
                var content = '';
                $.each(JSON.parse(arg["data"]), function (index, item) {    {% comment %}index和item为固定写法{% endcomment %}
                content += "<tr>" +
                    "<td><input type='checkbox' name=" +item.pk+"></td>" +
                    "<td>"+item.fields.ServerName+"</td>" +
                    "<td>"+item.fields.IP+"</td>" +
                    "<td>"+item.fields.Zabbix+"</td>" +
                    "<td>"+item.fields.Salt+"</td>" +
                    "<td>"+item.fields.Jumpserver+"</td>" +
                    "<td>"+item.fields.Keepass+"</td>" +
                    "<td>"+item.fields.Note+"</td>" +
                    "<td>"+
                        "<a style='margin-right: 4px' class='get_password' href=javascript:void(0)>获取密码</a>" +
                        "<a style='margin-right: 4px' id='edit' href=/am/edit?host="+item.pk+">编辑</a>" +
                        "<a style='margin-right: 4px' id='clone' href=/am/edit?clone="+item.pk+">克隆</a>" +
                        "<a style='margin-right: 4px' id='del' href=/am/delete?host="+item.pk+" onclick='return checked()'>删除</a>" +
                    "</td>" +
                    "</tr>"
                });
                $("#tbody").html(content);  {% comment %}将新的表单添加替换进网页{% endcomment %}
                altRows("alternatecolor");       {% comment %}执行altRows函数，改变显示颜色{% endcomment %}
                var html = "";
                page = parseInt(arg["num"]/13+0.999999999);
                for (var i=1;i<=page;i++) {
                    html += "<li><a href=javascript:void(0) onclick=search_page(this) id="+arg["tag"]+">"+i+"</a></li>"
                }
                $("#pagination").html(html);
                $("#total_number").text("总记录数为："+arg["num"])
            }
        });
    }
    $("#filter_group_name, #filter_env").change(function () {
        var url = get_group_env(1);
        search(url);
    });
    $("#search").click(function () {
        var data = $("#other").val();
        if (data === ""){
            alert("请输入查询内容后提交")
        }else {
            var url = "/am/search_server" + "?other=" + data + "&" + "page=1";
            search(url)
        }
    });
    function checked() {
        if (confirm("再次确认删除？")){
            return true
        }else {
            return false
        }
    }
    $(document).ready(function(){
        $.ajax({
            url: "/am/get_total_column",
            type: "post",
            data: "host",
            success: function (arg) {
                var html = "";
                page = parseInt(arg/13+0.999999999);
                for (var i=1;i<=page;i++) {
                    html += "<li><a href=/am/host_info?page="+i+">"+i+"</a></li>"
                }
                $("#pagination").html(html);
                $("#total_number").text("总记录数为："+arg)
            }
        })
    });
    function search_page(ths) {
        var page = ths.text;
        var id = ths.id;
        var data = $("#other").val();
        if (id === "2"){
            var url = get_group_env(page);
            search(url)
        }else {
            var url = "/am/search_server" + "?other=" + data + "&" + "page=" + page;
            search(url)
        }
    }
    </script>
{% endblock %}