{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/button.css">
{% endblock %}

{% block body-right %}
    <h3>主机环境如下：</h3>
    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 20px">ID</th>
                <th style="width: 160px">环境名称</th>
                <th style="width: 270px">备注</th>
                <th style="width: 80px">操作</th>
            </tr>
        </thead>
        <tbody>
             {% for i in data %}
                 <tr>
                     <td>{{ forloop.counter }}</td>
                     <td>{{ i.EnvName }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a id="edit" href="{% url "edit" %}?hostENVGroup={{ i.id }}">编辑</a>
                         <a id="del" href="{% url "delete" %}?hostENVGroup={{ i.id }}">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
    <div>
        <a id="addButton" href="{% url "addHostENV" %}">新增环境</a>
    </div>
    <script src="/static/tables.js"></script>
{% endblock %}
