{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/button.css">
    <style>
    #opeartion{
        background-color: white;
    }
    #opeartion-add{
        float: left;
        width: 10%;
    }
    #opeartion-filter{
        float: left;
        width: 30%;
        height: 28px;
    }
    #opeartion-search{
        float: left;
        width: 30%;
        height: 28px;
    }
    #opeartion-search input[type="text"]{
        height: 22px
    }
    select{
        padding: 4px 12px;
        font-size: 14px;
        width: 100px;
    }
    input[type="submit"]{
        background-color: #18a689;
        border-color: #18a689;
        color: #FFFFFF;
        padding: 3px 10px;
        font-size: 12px;
        height: 27px
    }

    </style>
{% endblock %}

{% block body-right %}
    <h3>主机信息如下：</h3>
    <div id="opeartion">
        <div id="opeartion-add">
            <a id="addButton" href="{% url "addHost" %}">新增主机</a>
        </div>
        <form action="{% url "search" %}" method="post">
            <div id="opeartion-filter">
                <select name="ENVName">
                    <option>环境</option>
                    {% for i in envData %}
                        <option>{{ i.EnvName }}</option>
                    {% endfor %}
                </select>
                <select name="GroupName">
                    <option>分组</option>
                    {% for i in hostData %}
                        <option>{{ i.GroupName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="opeartion-search">
                <input type="text" name="Other" placeholder="可填写主机名或IP地址">
                <input type="submit" value="-搜索-">
            </div>
            <div style="clear:both;"></div>
        </form>

    </div>

    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 20px">ID</th>
                <th style="width: 160px">服务器名称</th>
                <th style="width: 110px">IP地址</th>
                <th style="width: 70px">监控</th>
                <th style="width: 70px">自动化运维</th>
                <th style="width: 70px">堡垒机</th>
                <th style="width: 70px">密码记录</th>
                <th style="width: 270px">备注信息</th>
                <th style="width: 160px">操作</th>
            </tr>
        </thead>
        <tbody>
             {% for i in data %}
                 <tr>
                     <td>{{ forloop.counter }}</td>
                     <td>{{ i.ServerName }}</td>
                     <td>{{ i.IP }}</td>
                     <td>{{ i.Zabbix }}</td>
                     <td>{{ i.Salt }}</td>
                     <td>{{ i.Jumpserver }}</td>
                     <td>{{ i.Keepass }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a id="moreInfo" href="{% url "hostMoreInfo" %}?host={{ i.id }}">详细信息</a>
                         <a id="edit" href="{% url "edit" %}?host={{ i.id }}">编辑</a>
                         <a id="del" href="{% url "delete" %}?host={{ i.id }}">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
    <script src="/static/tables.js"></script>
{% endblock %}
