{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/button.css">
    <style>
    #opeartion-filter{
        float: left;
        width: 40%;
        height: 28px;
    }
    #opeartion-search{
        float: right;
        height: 28px;
        width: 30%;
    }
    #opeartion-search input[type="text"]{
        height: 22px;
        width: 259px;
    }
    select{
        padding: 4px 12px;
        font-size: 14px;
        width: 120px;
        font-family: "FangSong_GB2312";
        border-radius: 4px;
    }
    #other{
        float: right;
        margin-right: 2px;
    }
    </style>
{% endblock %}

{% block body-right %}
    <h3>网络设备信息如下：</h3>
    <div class="opeartion">
        <div id="add_del">
            <a id="addButton">新增网络设备</a>
            <a id="delButton">删除选中网络设备</a>
        </div>
        <div id="opeartion-filter">
            <label for="filter_network_device_type"></label>
            <select name="network_device_type" id="filter_network_device_type">
                <option>类型</option>
                <option>交换机</option>
                <option>路由器</option>
                <option>防火墙</option>
                <option>AD</option>
            </select>
            <label for="filter_network_device_brand"></label>
            <select name="network_device_brand" id="filter_network_device_brand">
                <option>品牌</option>
                <option>H3C</option>
                <option>华为</option>
                <option>深信服</option>
                <option>爱快</option>
                <option>大华</option>
            </select>
            <label for="filter_network_device_owner"></label>
            <select name="network_device_owner" id="filter_network_device_owner">
                <option>所有者</option>
                <option>电信</option>
                <option>高锦</option>
            </select>
        </div>
        <div id="opeartion-search">
            <a id="search">-搜索-</a>
            <input id="other" type="text" name="Other" placeholder="可填写设备名 IP地址 位置">
        </div>
        <div style="clear:both;"></div>
    </div>
    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 1%"><label for="is_checked"></label><input type="checkbox" id="is_checked"></th>
                <th style="width: 16%">设备名称</th>
                <th style="width: 11%">管理IP</th>
                <th style="width: 7%">类型</th>
                <th style="width: 7%">品牌</th>
                <th style="width: 7%">所有者</th>
                <th style="width: 7%">位置</th>
                <th style="width: 26%">备注信息</th>
                <th style="width: 17%">操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
             {% for i in data %}
                 <tr>
                     <td><label for="{{ i.id }}"></label><input type="checkbox" name="{{ i.id }}" id="{{ i.id }}"></td>
                     <td>{{ i.Name }}</td>
                     <td>{{ i.ManageIP }}</td>
                     <td>{{ i.Type }}</td>
                     <td>{{ i.Brand }}</td>
                     <td>{{ i.Owner }}</td>
                     <td>{{ i.Position }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a id="moreInfo" href="{% url "hostMoreInfo" %}?more_network_device={{ i.id }}">详细信息</a>
                         <a id="edit" href="{% url "edit" %}?edit_network_device={{ i.id }}">编辑</a>
                         <a id="del" href="{% url "delete" %}?network_device={{ i.id }}" onclick="return checked()">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="/static/tables.js"></script>
    <script>
{#    批量删除按钮#}
    $("#delButton").click(function () {
        var data = [];
        $("tbody input").each(function () {
            if ($(this).prop("checked")){
                data.push($(this).attr("name"));
            }
        });
        if (data.length === 0){
            alert("你没有选择任何主机");
        }else{
            if (confirm("确认删除选中主机？")){
                $.ajax({
                    url: "/am/delete",
                    type: "post",
                    data: {"network_device": data},
                    traditional: true,
                    success: function (arg) {
                        if (arg === "successful"){
                            location.reload();
                        }
                    },
                    fail: function () {
                    }
                });
            }
        }
    });
{#    新增按钮#}
    $("#addButton").click(function () {
        window.location.href = "/am/add_network_device"
    });

    function get_group_env() {
        var network_device_type = $("#filter_network_device_type").val();
        var network_device_owner = $("#filter_network_device_owner").val();
        var network_device_brand = $("#filter_network_device_brand").val();
        if (network_device_type === "类型" && network_device_owner === "所有者" && network_device_brand === "品牌"){
            return {"network_device_type": "", "network_device_owner": "", "network_device_brand": "" }
        }else if (network_device_type !== "类型" && network_device_owner !== "所有者" && network_device_brand !== "品牌"){
            return {"network_device_type": network_device_type, "network_device_owner": network_device_owner, "network_device_brand": network_device_brand }
        }else if (network_device_type === "类型" && network_device_owner !== "所有者" && network_device_brand !== "品牌"){
            return {"network_device_type": "", "network_device_owner": network_device_owner, "network_device_brand": network_device_brand }
        }else if (network_device_type !== "类型" && network_device_owner === "所有者" && network_device_brand !== "品牌"){
            return {"network_device_type": network_device_type, "network_device_owner": "", "network_device_brand": network_device_brand }
        }else if (network_device_type !== "类型" && network_device_owner !== "所有者" && network_device_brand === "品牌"){
            return {"network_device_type": network_device_type, "network_device_owner": network_device_owner, "network_device_brand": "" }
        }else if (network_device_type === "类型" && network_device_owner === "所有者" && network_device_brand !== "品牌"){
            return {"network_device_type": "", "network_device_owner": "", "network_device_brand": network_device_brand }
        }else if (network_device_type === "类型" && network_device_owner !== "所有者" && network_device_brand === "品牌"){
            return {"network_device_type": "", "network_device_owner": network_device_owner, "network_device_brand": "" }
        }else if (network_device_type !== "类型" && network_device_owner === "所有者" && network_device_brand === "品牌"){
            return {"network_device_type": network_device_type, "network_device_owner": "", "network_device_brand": "" }
        }
    }
    function search(data) {
        $.ajax({
            url: "/am/search_network_device",
            type: "post",
            data: data,
            dataType: "json",   {% comment %}指定接收到的数据类型{% endcomment %}
            success: function (arg) {
                console.log(arg);
                if(arg.length === 0){
                    alert("没有查询到任何数据");
                    location.reload();
                }else {
                    $("#tbody").html("");   {% comment %}清空原有的表单内容{% endcomment %}
{#                    将后端数据组合成新的表单内容#}
                    var content = '';
                    $.each(arg, function (index, item) {    {% comment %}index和item为固定写法{% endcomment %}
                    content += "<tr>" +
                        "<td><input type='checkbox' name=" +item.pk+"></td>" +
                        "<td>"+item.fields.Name+"</td>" +
                        "<td>"+item.fields.ManageIP+"</td>" +
                        "<td>"+item.fields.Type+"</td>" +
                        "<td>"+item.fields.Brand+"</td>" +
                        "<td>"+item.fields.Owner+"</td>" +
                        "<td>"+item.fields.Position+"</td>" +
                        "<td>"+item.fields.Note+"</td>" +
                        "<td>"+
                            "<a style='margin-right: 4px' id='moreInfo' href=/am/host_more_info?more_network_device="+item.pk+">详细信息</a>" +
                            "<a style='margin-right: 4px' id='edit' href=/am/edit?edit_network_device="+item.pk+">编辑</a>" +
                            "<a style='margin-right: 4px' id='del' href=/am/delete?edit_network_device="+item.pk+" onclick='return checked()'>删除</a>" +
                        "</td>" +
                        "</tr>"
                    });
                    $("#tbody").html(content);  {% comment %}将新的表单添加进网页{% endcomment %}
                    (function () {
                        altRows("alternatecolor");       {% comment %}执行altRows函数，改变显示颜色{% endcomment %}
                    })()
                }
            }
        });
    }
    $("#filter_network_device_brand, #filter_network_device_owner, #filter_network_device_type").change(function () {
        var data = get_group_env();
        search(data)
    });
    $("#search").click(function () {
        var data = $("#other").val();
        if (data === ""){
            alert("请输入查询内容后提交")
        }else {
            search({"other": data})
        }
    });
    function checked() {
        if (confirm("再次确认删除？")){
            return true
        }else {
            return false
        }
    }
    </script>
{% endblock %}