{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/button.css">
    <link rel="stylesheet" type="text/css" href="/static/am/verification.css">
    <style>
    #opeartion-filter{
        float: left;
        width: 45%;
        height: 28px;
    }
    #opeartion-search{
        float: right;
        height: 28px;
        width: 30%;
    }
    #opeartion-search input[type="text"]{
        height: 22px;
        width: 259px;
    }
    select{
        padding: 4px 12px;
        font-size: 14px;
        width: 120px;
        font-family: "FangSong_GB2312";
        border-radius: 4px;
    }
    #other{
        float: right;
        margin-right: 2px;
    }
    </style>
{% endblock %}

{% block body-right %}
    <h3>服务器信息如下：</h3>
    <div class="opeartion">
        <div id="add_del">
            <a id="addButton">新增服务器</a>
            <a id="delButton">删除选中服务器</a>
        </div>
        <div id="opeartion-filter">
            <label for="filter_physics_server_type"></label>
            <select name="physics_server_type" id="filter_physics_server_type">
                <option>类型</option>
                <option>服务器</option>
                <option>存储</option>
                <option>人证比对</option>
                <option>刀片</option>
                <option>其它</option>
            </select>
            <label for="filter_physics_server_brand"></label>
            <select name="physics_server_brand" id="filter_physics_server_brand">
                <option>品牌</option>
                <option>DELL</option>
                <option>HP</option>
                <option>浪潮</option>
                <option>大华</option>
                <option>海康</option>
            </select>
            <label for="filter_physics_server_owner"></label>
            <select name="physics_server_owner" id="filter_physics_server_owner">
                <option>所有者</option>
                <option>电信</option>
                <option>高锦</option>
            </select>
            <label for="filter_expire_date"></label>
            <select name="expire_date" id="filter_expire_date">
                <option>保修状态</option>
                <option>在保</option>
                <option>过保</option>
            </select>
        </div>
        <div id="opeartion-search">
            <a id="search">-搜索-</a>
            <input id="other" type="text" name="Other" placeholder="可填写型号名 IP地址 位置">
        </div>
        <div style="clear:both;"></div>
    </div>
    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 1%"><label for="is_checked"></label><input type="checkbox" id="is_checked"></th>
                <th style="width: 10%">型号</th>
                <th style="width: 8%">序列号</th>
                <th style="width: 6%">类型</th>
                <th style="width: 5%">品牌</th>
                <th style="width: 5%">所有者</th>
                <th style="width: 8%">保修到期时间</th>
                <th style="width: 5%">位置</th>
                <th style="width: 7%">CPU总核数</th>
                <th style="width: 5%">总内存</th>
                <th style="width: 5%">总空间</th>
                <th style="width: 14%">备注信息</th>
                <th style="width: 16%">操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
             {% for i in data %}
                 <tr>
                     <td><label for="{{ i.id }}"></label><input type="checkbox" name="{{ i.id }}" id="{{ i.id }}"></td>
                     <td>{{ i.Model }}</td>
                     <td>{{ i.SN }}</td>
                     <td>{{ i.Type }}</td>
                     <td>{{ i.Brand }}</td>
                     <td>{{ i.Owner }}</td>
                     <td>{{ i.ExpireDate|date:'Y-m-d' }}</td>
                     <td>{{ i.Position }}</td>
                     <td>{{ i.CPU }}</td>
                     <td>{{ i.Memory }}</td>
                     <td>{{ i.TotalSpace }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a class="get_password" href="javascript:void(0)" id="{{ i.id }}">获取登录信息</a>
                         <a id="edit" href="{% url "edit" %}?physics_server={{ i.id }}">编辑</a>
                         <a id="del" href="{% url "delete" %}?physics_server={{ i.id }}" onclick="return checked()">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
    <div id="table_bottom">
        <span id="total_number"></span>
        <ul class="pagination" id="pagination">
        </ul>
    </div>
{% endblock %}

{% block down %}
    <div id="verification_block"></div>
    <div id="verification_div">
        <div>
            <span id="verification_title">手机验证</span>
        </div>
        <div id="verification_body">
            <p style="font-size: 12px;">
                <span id="verification_phone">你绑定的手机：133****0502</span>
            </p>
            <p style="font-size: 12px;">
                <label for="verification_code" id="verification_code_info">校验码：</label>
                <input type="text" id="verification_code" name="name_verification_code">
                <span id="verification_get">获取验证码</span><br>
                <span class="error" id="verification_fail">验证失败</span>
                <span class="error" id="send_fail">系统异常，发送失败</span>
                <span class="error" id="repeat">请勿在5分钟内重复发送</span>
                <span class="error" id="send_success">发送成功，5分钟有效时长</span>
                <span class="error" id="no_code">请输入验证码</span>
                <span class="error" id="valid_code">请输入有效验证码</span>
                <span class="error" id="not_exist">验证码未发送</span>
            </p>
        </div>
        <div id="verification_bottom">
            <span id="get_password">获取登录信息</span>
            <span id="close">取消</span>
        </div>
        <div id="passwd">
            <div>
                <span class="alignment">管理地址</span>：
                <span id="address_value"></span>
            </div>
            <div>
                <span class="alignment">用户名</span>：
                <span id="username_value"></span>
            </div>
            <div>
                <span class="alignment">密码</span>：
                <span id="passwd_value"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/tables.js"></script>
    <script src="/static/am/verification.js"></script>
    <script>
{#    批量删除按钮#}
    $("#delButton").click(function () {
        var data = [];
        $("tbody input").each(function () {
            if ($(this).prop("checked")){
                data.push($(this).attr("name"));
            }
        });
        if (data.length === 0){
            alert("你没有选择任何主机");
        }else{
            if (confirm("确认删除选中主机？")){
                $.ajax({
                    url: "/am/delete",
                    type: "post",
                    data: {"physics_server": data},
                    traditional: true,
                    success: function (arg) {
                        if (arg === "successful"){
                            window.location.href = "/am/physics_server_info?page=1"
                        }
                    },
                    fail: function () {
                    }
                });
            }
        }
    });
{#    新增按钮#}
    $("#addButton").click(function () {
        window.location.href = "/am/add_physics_server"
    });

    function get_group_env(page) {
        var physics_server_type = $("#filter_physics_server_type").val();
        var physics_server_owner = $("#filter_physics_server_owner").val();
        var physics_server_brand = $("#filter_physics_server_brand").val();
        var physics_expire_date = $("#filter_expire_date").val();
        url = "/am/search_physics_server" +
                "?physics_server_type=" + physics_server_type +
                "&" + "physics_server_owner=" + physics_server_owner +
                "&" + "physics_server_brand=" + physics_server_brand +
                "&" + "physics_expire_date=" + physics_expire_date +
                "&" + "page=" + page;
        return url
    }
    function search(data) {
        $.ajax({
            url: data,
            type: "get",
            dataType: "json",   {% comment %}指定接收到的数据类型{% endcomment %}
            success: function (arg) {
{#                将后端数据组合成新的表单内容#}
                var content = '';
                $.each(JSON.parse(arg["data"]), function (index, item) {    {% comment %}index和item为固定写法{% endcomment %}
                content += "<tr>" +
                    "<td><input type='checkbox' name=" +item.pk+"></td>" +
                    "<td>"+item.fields.Model+"</td>" +
                    "<td>"+item.fields.SN+"</td>" +
                    "<td>"+item.fields.Type+"</td>" +
                    "<td>"+item.fields.Brand+"</td>" +
                    "<td>"+item.fields.Owner+"</td>" +
                    "<td>"+item.fields.ExpireDate+"</td>" +
                    "<td>"+item.fields.Position+"</td>" +
                    "<td>"+item.fields.CPU+"</td>" +
                    "<td>"+item.fields.Memory+"</td>" +
                    "<td>"+item.fields.TotalSpace+"</td>" +
                    "<td>"+item.fields.Note+"</td>" +
                    "<td>"+
                        "<a style='margin-right: 4px' class='get_password' href=javascript:void(0) id="+item.pk+">获取登录信息</a>" +
                        "<a style='margin-right: 4px' id='edit' href=/am/edit?physics_server="+item.pk+">编辑</a>" +
                        "<a style='margin-right: 4px' id='del' href=/am/delete?physics_server="+item.pk+" onclick='return checked()'>删除</a>" +
                    "</td>" +
                    "</tr>"
                });
                $("#tbody").html(content);  {% comment %}将新的表单替换进网页{% endcomment %}
                altRows("alternatecolor");       {% comment %}执行altRows函数，改变显示颜色{% endcomment %}
                var html = "";
                page = parseInt(arg["num"]/13+0.999999999);
                for (var i=1;i<=page;i++) {
                    html += "<li><a href=javascript:void(0) onclick=search_page(this) id="+arg["tag"]+">"+i+"</a></li>"
                }
                $("#pagination").html(html);
                $("#total_number").text("总记录数为："+arg["num"])
            }
        });
    }
    $("#filter_physics_server_brand, #filter_physics_server_owner, #filter_physics_server_type, #filter_expire_date").change(function () {
        var url = get_group_env(1);
        search(url)
    });
    $("#search").click(function () {
        var data = $("#other").val();
        if (data === ""){
            alert("请输入查询内容后提交")
        }else {
            var url = "/am/search_physics_server" + "?other=" + data + "&" + "page=1";
            search(url)
        }
    });
    function checked() {
        if (confirm("再次确认删除？")){
            return true
        }else {
            return false
        }
    }
    $(document).ready(function(){
        $.ajax({
            url: "/am/get_total_column",
            type: "post",
            data: "physics_server",
            success: function (arg) {
                var html = "";
                page = parseInt(arg/13+0.999999999);
                for (var i=1;i<=page;i++) {
                    html += "<li><a href=/am/physics_server_info?page="+i+">"+i+"</a></li>"
                }
                $("#pagination").html(html);
                $("#total_number").text("总记录数为："+arg)
            }
        })
    });
    function search_page(ths) {
        var page = ths.text;
        var id = ths.id;
        var data = $("#other").val();
        if (id === "2") {
            var url = get_group_env(page);
            search(url)
        } else {
            var url = "/am/search_physics_server" + "?other=" + data + "&" + "page=" + page;
            search(url)
        }
    }
    $("body").on("click", "#get_password", function () {
        var code_number = $("#verification_code").val();
        if (code_number.length === 0){
            hide_info();
            $("#no_code").css("display", "inherit")
        }else if(isNaN(Number(code_number))){
            hide_info();
            $("#valid_code").css("display", "inherit")
        }else {
            $.ajax({
                url: "/am/get_login_info",
                data: {"code_number": code_number, "physics_id": data_id},
                type: "get",
                dataType: "json",
                success: function (arg) {
                    if (arg === "404"){
                        $("#not_exist").css("display", "inherit")
                    }else if (arg === "403"){
                        $("#verification_fail").css("display", "inherit")
                    }else {
                        $("#passwd_value").text(arg.password);
                        $("#username_value").text(arg.username);
                        $("#address_value").text(arg.url)
                    }
                }
            })
        }
    });
    </script>
{% endblock %}