{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/am/button.css">
    <style>
    #opeartion-filter{
        float: left;
        width: 45%;
        height: 28px;
    }
    #opeartion-search{
        float: right;
        height: 28px;
        width: 30%;
    }
    #opeartion-search input[type="text"]{
        height: 22px;
        width: 259px;
    }
    select{
        padding: 4px 12px;
        font-size: 14px;
        width: 120px;
        font-family: "FangSong_GB2312";
        border-radius: 4px;
    }
    #other{
        float: right;
        margin-right: 2px;
    }
    </style>
{% endblock %}

{% block body-right %}
    <h3>服务器信息如下：</h3>
    <div class="opeartion">
        <div id="add_del">
            <a id="addButton">新增服务器</a>
            <a id="delButton">删除选中服务器</a>
        </div>
        <div id="opeartion-filter">
            <label for="filter_physics_server_type"></label>
            <select name="physics_server_type" id="filter_physics_server_type">
                <option>类型</option>
                <option>服务器</option>
                <option>存储</option>
                <option>人证比对</option>
                <option>刀片</option>
                <option>其它</option>
            </select>
            <label for="filter_physics_server_brand"></label>
            <select name="physics_server_brand" id="filter_physics_server_brand">
                <option>品牌</option>
                <option>DELL</option>
                <option>HP</option>
                <option>浪潮</option>
                <option>大华</option>
                <option>海康</option>
            </select>
            <label for="filter_physics_server_owner"></label>
            <select name="physics_server_owner" id="filter_physics_server_owner">
                <option>所有者</option>
                <option>电信</option>
                <option>高锦</option>
            </select>
            <label for="filter_expire_date"></label>
            <select name="expire_date" id="filter_expire_date">
                <option>保修状态</option>
                <option>在保</option>
                <option>过保</option>
            </select>
        </div>
        <div id="opeartion-search">
            <a id="search">-搜索-</a>
            <input id="other" type="text" name="Other" placeholder="可填写型号名 IP地址 位置">
        </div>
        <div style="clear:both;"></div>
    </div>
    <table class="altrowstable" id="alternatecolor">
        <thead>
            <tr>
                <th style="width: 1%"><label for="is_checked"></label><input type="checkbox" id="is_checked"></th>
                <th style="width: 10%">型号</th>
                <th style="width: 8%">序列号</th>
                <th style="width: 6%">类型</th>
                <th style="width: 5%">品牌</th>
                <th style="width: 5%">所有者</th>
                <th style="width: 8%">保修到期时间</th>
                <th style="width: 5%">位置</th>
                <th style="width: 7%">CPU总核数</th>
                <th style="width: 5%">总内存</th>
                <th style="width: 5%">总空间</th>
                <th style="width: 14%">备注信息</th>
                <th style="width: 16%">操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
             {% for i in data %}
                 <tr>
                     <td><label for="{{ i.id }}"></label><input type="checkbox" name="{{ i.id }}" id="{{ i.id }}"></td>
                     <td>{{ i.Model }}</td>
                     <td>{{ i.SN }}</td>
                     <td>{{ i.Type }}</td>
                     <td>{{ i.Brand }}</td>
                     <td>{{ i.Owner }}</td>
                     <td>{{ i.ExpireDate|date:'Y-m-d' }}</td>
                     <td>{{ i.Position }}</td>
                     <td>{{ i.CPU }}</td>
                     <td>{{ i.Memory }}</td>
                     <td>{{ i.TotalSpace }}</td>
                     <td>{{ i.Note }}</td>
                     <td>
                         <a id="moreInfo" href="{% url "get_password" %}?physics_server={{ i.id }}">获取登录信息</a>
                         <a id="edit" href="{% url "edit" %}?physics_server={{ i.id }}">编辑</a>
                         <a id="del" href="{% url "delete" %}?physics_server={{ i.id }}" onclick="return checked()">删除</a>
                     </td>
                 </tr>
             {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="/static/tables.js"></script>
    <script>
{#    批量删除按钮#}
    $("#delButton").click(function () {
        var data = [];
        $("tbody input").each(function () {
            if ($(this).prop("checked")){
                data.push($(this).attr("name"));
            }
        });
        if (data.length === 0){
            alert("你没有选择任何主机");
        }else{
            if (confirm("确认删除选中主机？")){
                $.ajax({
                    url: "/am/delete",
                    type: "post",
                    data: {"physics_server": data},
                    traditional: true,
                    success: function (arg) {
                        if (arg === "successful"){
                            location.reload();
                        }
                    },
                    fail: function () {
                    }
                });
            }
        }
    });
{#    新增按钮#}
    $("#addButton").click(function () {
        window.location.href = "/am/add_physics_server"
    });

    function get_group_env() {
        var physics_server_type = $("#filter_physics_server_type").val();
        var physics_server_owner = $("#filter_physics_server_owner").val();
        var physics_server_brand = $("#filter_physics_server_brand").val();
        var physics_expire_date = $("#filter_expire_date").val();
        if (physics_server_type === "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": "",
                "physics_server_brand": "",
                "physics_expire_date": "" }
        }else if (physics_server_type !== "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": physics_expire_date }
        }else if (physics_server_type !== "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": "",
                "physics_server_brand": "",
                "physics_expire_date": "" }
        }else if (physics_server_type === "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": "",
                "physics_expire_date": "" }
        }else if (physics_server_type === "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": "",
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": "" }
        }else if (physics_server_type === "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": "",
                "physics_server_brand": "",
                "physics_expire_date": physics_expire_date }
        }else if (physics_server_type !== "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": "",
                "physics_expire_date": "" }
        }else if (physics_server_type !== "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": "",
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": "" }
        }else if (physics_server_type !== "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": "",
                "physics_server_brand": "",
                "physics_expire_date": physics_expire_date }
        }else if (physics_server_type === "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": "" }
        }else if (physics_server_type === "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": "",
                "physics_expire_date": physics_expire_date }
        }else if (physics_server_type === "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": "",
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": physics_expire_date }
        }else if (physics_server_type !== "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date === "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": "" }
        }else if (physics_server_type !== "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand === "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": "",
                "physics_expire_date": physics_expire_date }
        }else if (physics_server_type !== "类型"
            && physics_server_owner === "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": physics_server_type,
                "physics_server_owner": "",
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": physics_expire_date }
        }else if (physics_server_type === "类型"
            && physics_server_owner !== "所有者"
            && physics_server_brand !== "品牌"
            && physics_expire_date !== "保修状态"){
            return {"physics_server_type": "",
                "physics_server_owner": physics_server_owner,
                "physics_server_brand": physics_server_brand,
                "physics_expire_date": physics_expire_date }
        }
    }
    function search(data) {
        $.ajax({
            url: "/am/search_physics_server",
            type: "post",
            data: data,
            dataType: "json",   {% comment %}指定接收到的数据类型{% endcomment %}
            success: function (arg) {
                if(arg.length === 0){
                    alert("没有查询到任何数据");
                    location.reload();
                }else {
{#                    将后端数据组合成新的表单内容#}
                    var content = '';
                    $.each(arg, function (index, item) {    {% comment %}index和item为固定写法{% endcomment %}
                    content += "<tr>" +
                        "<td><input type='checkbox' name=" +item.pk+"></td>" +
                        "<td>"+item.fields.Model+"</td>" +
                        "<td>"+item.fields.SN+"</td>" +
                        "<td>"+item.fields.Type+"</td>" +
                        "<td>"+item.fields.Brand+"</td>" +
                        "<td>"+item.fields.Owner+"</td>" +
                        "<td>"+item.fields.ExpireDate+"</td>" +
                        "<td>"+item.fields.Position+"</td>" +
                        "<td>"+item.fields.CPU+"</td>" +
                        "<td>"+item.fields.Memory+"</td>" +
                        "<td>"+item.fields.TotalSpace+"</td>" +
                        "<td>"+item.fields.Note+"</td>" +
                        "<td>"+
                            "<a style='margin-right: 4px' id='moreInfo' href=/am/get_password?physics_server="+item.pk+">获取登录信息</a>" +
                            "<a style='margin-right: 4px' id='edit' href=/am/edit?physics_server="+item.pk+">编辑</a>" +
                            "<a style='margin-right: 4px' id='del' href=/am/delete?physics_server="+item.pk+" onclick='return checked()'>删除</a>" +
                        "</td>" +
                        "</tr>"
                    });
                    $("#tbody").html(content);  {% comment %}将新的表单替换进网页{% endcomment %}
                    (function () {
                        altRows("alternatecolor");       {% comment %}执行altRows函数，改变显示颜色{% endcomment %}
                    })()
                }
            }
        });
    }
    $("#filter_physics_server_brand, #filter_physics_server_owner, #filter_physics_server_type, #filter_expire_date").change(function () {
        var data = get_group_env();
        search(data)
    });
    $("#search").click(function () {
        var data = $("#other").val();
        if (data === ""){
            alert("请输入查询内容后提交")
        }else {
            search({"other": data})
        }
    });
    function checked() {
        if (confirm("再次确认删除？")){
            return true
        }else {
            return false
        }
    }
    </script>
{% endblock %}