/*
最顶部样式
*/
#header{
    height: 40px;
    padding: 10px 40px;
    background-color: #417690;
    line-height: 40px;
    margin-bottom: 10px;
}
#header a{
    color: #f5dd5d;
    font-weight: 300;
    font-size: 24px;
}
/*
中间左侧样式
*/
#body-left{
    width: 15%;
    float: left;
}
#body-left > div{
    width: 85%;
}
a{
    padding: 5px 0 5px 15px;
    font-size: 14px;
}
.menu-taile{
    background-color: #e8e7e3;
    height: 50px;
    font-size: 30px;
    text-align:center;
}
/*
中间右侧样式
*/
#body-right{
    float: left;
    width: 85%;
    position: relative;
    height: 500px;
}