<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主机信息</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/public.css">
    <style>
        .backgroundColor {
            background-color: #d4e3e5;
        }
        .checkedColor {
            background-color: #a9c6c9;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
<div>
    <div id="header">
        <a href="{% url "index" %}">运维管理平台</a>
    </div>
</div>

<div>
    <div id="body-left">
        <div>
            <div class="menu-taile">CMDB</div>
            <div>
                <h3>资产管理</h3>
                <a href="{% url "hostInfo" %}">
                    <p>资产列表</p>
                </a>
                <a href="{% url "hostGroupInfo" %}">
                    <p>主机分组</p>
                </a>
                <a href="{% url "hostENVInfo" %}">
                    <p>环境分组</p>
                </a>
            </div>

            <div>
                <h3>验证码查询</h3>
                <a href="{% url "prod" %}">
                    <p>生产环境</p>
                </a>
            </div>
        </div>
    </div>

    <div id="body-right">
        {% block body-right %}
        {% endblock %}
    </div>
</div>
<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/jquery.js"></script>
<script src="/static/jquery.validate.min.js"></script>
<script src="/static/messages_zh.js"></script>
{% block js %}
    <script>
    $("#body-left p").mouseover(function () {
        $(this).addClass("backgroundColor");
    });

    $("#body-left p").mouseout(function () {
        $(this).removeClass("backgroundColor");
    });
    </script>
{% endblock %}
</body>
</html>