<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维管理平台</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/public.css">
    <style>
{#        左侧菜单鼠标移动时的颜色#}
        .backgroundColor {
            background-color: #417690;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
<div>
    <div id="header">
        <a href="{% url "index" %}">运维管理平台</a>
    </div>
</div>

<div>
    <div id="body-left">
        <div style="background-color: #d4e3e5">
            <div class="menu-taile">CMDB</div>
            <div>
                <h3>资产管理</h3>
                <a href="javascript:void(0)">
                    <p id="menu">资产列表</p>
                    <p id="server" style="padding: 5px 0 5px 30px">服务器资产</p>
                    <p id="network" style="padding: 5px 0 5px 30px">网络设备资产</p>
                    <p id="physics_server" style="padding: 5px 0 5px 30px">硬件服务器资产</p>
                </a>
                <a href="{% url "hostGroupInfo" %}">
                    <p>主机分组</p>
                </a>
                <a href="{% url "hostENVInfo" %}">
                    <p>环境分组</p>
                </a>
            </div>

            <div>
                <h3>验证码查询</h3>
                <a href="{% url "prod" %}">
                    <p>生产环境</p>
                </a>
                <a href="javascript:void(0)">
                    <p>测试环境</p>
                </a>
            </div>
             <div>
                <h3>用户管理</h3>
                <a href="javascript:void(0)">
                    <p>用户列表</p>
                </a>
            </div>
        </div>
    </div>

    <div id="body-right">
        {% block body-right %}
        {% endblock %}
    </div>
</div>
<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/jquery.js"></script>
<script src="/static/jquery.validate.min.js"></script>
<script src="/static/messages_zh.js"></script>
<script src="/static/am/button.js"></script>
<script>
    $("#body-left").find("p").mouseover(function () {
        $(this).addClass("backgroundColor");
    }).mouseout(function () {
        $(this).removeClass("backgroundColor");
    });
    $("#server").click(function () {
        window.location.href = "/am/host_info?page=1"
    });
    $("#network").click(function () {
        window.location.href = "/am/network_device_info"
    });
    $("#physics_server").click(function () {
        window.location.href = "/am/physics_server_info"
    });
</script>
{% block js %}
{% endblock %}
</body>
</html>