<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左侧菜单</title>
    <style>
        #top{
            height: 50px;
            background-color: #e8e7e3;
            margin-left: 3%;
            margin-right: 3%;
        }
        #top div{
            width: 10%;
            float: left;
            line-height: 50px;
            text-align: center;
        }
        #left{
            margin-left: 3%;
            background-color: #E03636;
        }
        #left > div{
            background-color: white;
            width: 12%;
            float: left;
            border: solid 1px #e8e7e3;
        }
        #right{
            width: 82%;
            float: left;
            /*background-color: #E03636;*/
        }
        .cursor{
            cursor: pointer;
            background-color: darkgray;
        }
        .css1{
            padding: 5px 0 5px 15px;
            font-size: 14px;
        }
        .display{
            display: none;
        }
        .test{
            background-color: #e8e7e3;
            height: 50px;
            font-size: 30px;
            text-align:center;
        }
        .checked{
            background-color: #be2d30;
        }
        .menu{
            background-color: #3f3f3f;
            color: white;
            cursor: pointer;
        }
        .menu1{
            background-color: #3f3f3f;
            color: white;
        }
        .test3{
            margin: 0 0 0 25px;
        }

        span{
            font-size: 28px;
            font-weight: 400;
        }
        .test4{
            width: 5%;
            float: left;
        }
    </style>
</head>
<body>
<div id="top">
    <div nid="html" onmouseover="Func5(this);" onmouseout="Func6(this);" onclick="Func7(this);">HTML</div>
    <div nid="css" onmouseover="Func5(this);" onmouseout="Func6(this);" onclick="Func7(this);">CSS</div>
    <div nid="jquery" onmouseover="Func5(this);" onmouseout="Func6(this);" onclick="Func7(this);">JQuery</div>
    <div nid="study" onmouseover="Func5(this);" onmouseout="Func6(this);" onclick="Func7(this);">学习案列</div>
</div>
<div style="background-color: white;height: 20px"></div>

<div>
    <div id="left">
        <div id="html">
            <div class="test">课程表</div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML 基础教程</h3>
                </div>
                <div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 教程</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 简介</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 编辑器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 基础</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 元素</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 属性</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 标题</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 段落</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 样式</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 格式化</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 引用</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 计算机代码</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 注释</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML CSS</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 链接</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 图像</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 表格</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 列表</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 块</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 类</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 布局</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 响应式设计</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 框架</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 内联框架</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 背景</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 脚本</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 头部</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 实体</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML URL</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML URL 编辑</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML Web 服务器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 颜色</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 颜色名</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 文档类型</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 速查手册</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML XHTML</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">XHTML 简介</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">XHTML 元素</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">XHTML 属性</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML 表单</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 表单</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 表单元素</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 输入类型</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 输入属性</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML5</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 简介</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 支持</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 元素</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 语义</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 迁移</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 代码约定</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML 图形</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 画布</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 SVG</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 画布 vs SVG</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML 媒体</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 媒体</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 对象</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 音频</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 视频</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML API</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 地理定位</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 拖放</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML Web 存储</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 应用缓存</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML Web Workers</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML SSE</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>实例/测验/总结</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 实例</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 测验</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 总结</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML 参考手册</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 标签列表</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 属性</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 事件</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 合法 DTD</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 颜色名</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 字符集</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML ASCII</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML ISO-8859-1</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 符号</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML URL 编码</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 语言代码</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 消息</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML5</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 教程</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML5 参考手册</div>
                </div>
            </div>
        </div>
        <div id="css" class="display">
            <div class="test">课程表</div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 基础教程</h3>
                </div>
                <div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 教程</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 简介</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 基础语法</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 高级语法</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 派生选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 类选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 属性选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 创建</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 样式</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 背景</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 文件</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 字体</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 链接</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 列表</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 表格</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 轮廓</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 框模型</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 框模型概述</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 内边距</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 边框</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 外边距</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 外边距合并</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 定位</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 定位概述</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 相对定位</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 绝对定位</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 浮动</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 选择器</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 元素选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 选择器分组</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 类选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS ID 选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 属性选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 后代选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 子元素选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 相邻兄弟选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 伪类</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 伪元素</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 高级</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 对齐</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 尺寸</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 分类</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 导航栏</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 图片库</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 图片透明</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 媒介类型</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 注意事项</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 总结</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 实例</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 实例</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 测验</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 测验</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS 参考手册</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 参考手册</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 听觉参考手册</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 网络安全字体</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 单位</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 颜色</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 颜色值</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 颜色名</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 颜色十六进制</div>
                </div>
            </div>
        </div>
        <div id="jquery" class="display">
            <div class="test">课程表</div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery 教程</h3>
                </div>
                <div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 教程</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 简介</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 安装</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 语法</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 事件</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery 效果</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 隐藏/显示</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 淡入淡出</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 滑动</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 动画</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery stop()</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery Callback</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery Chaining</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery HTML</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 获取</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 设置</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 添加</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 删除</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery CSS类</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery css()</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 尺寸</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery 遍历</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 遍历</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 祖先</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 后代</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 同胞</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 过滤</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery AJAX</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery AJAX简介</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 加载</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery Get/Post</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery 杂项</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery noConfict()</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery 实例</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 实例</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 测验</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery 参考手册</h3>
                </div>
                <div class="display">
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 参考手册</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 选择器</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 事件</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 效果</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 文档操作</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 属性操作</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery CSS操作</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery Ajax</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 遍历</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 数据</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery DOM元素</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 核心</div>
                    <div onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">JQuery 属性</div>
                </div>
            </div>
        </div>
        <div id="study" class="display">
            <div class="test">课程表</div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>HTML</h3>
                </div>
                <div>
                    <div mid="study-html-1" onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">HTML 常用标签</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>CSS</h3>
                </div>
                <div  class="display">
                    <div mid="study-css-1" onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">CSS 选择器</div>
                </div>
            </div>
            <div>
                <div onmouseover="Func1(this);" onmouseout="Func2(this);" onclick="Func4(this);">
                    <h3>JQuery</h3>
                </div>
                <div  class="display">
                    <div mid="study-jquery-1" onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">全选/返选/取消</div>
                    <div mid="study-jquery-for" onmouseover="Func1(this);" onmouseout="Func2(this);" class="css1" onclick="Func3(this);">for循环</div>
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="test3" id="study-jquery-1">
            <span>JQuery学习之全选，反选以及取消的实现</span>
            <p>案列：请选择你的爱好</p>
            <form>
                <p>
                    <label for="climbing">爬山：</label>
                    <input id="climbing" type="checkbox">
                </p>
                <p>
                    <label for="swim">游泳：</label>
                    <input id="swim" type="checkbox">
                </p>
                <p>
                    <label for="basketball">篮球：</label>
                    <input id="basketball" type="checkbox">
                </p>
                <p>
                    <label for="run">跑步：</label>
                    <input id="run" type="checkbox">
                </p>
                <p>
                    <label for="bike">骑行：</label>
                    <input id="bike" type="checkbox">
                </p>
                <p>
                    <label for="movie">电影：</label>
                    <input id="movie" type="checkbox">
                </p>
                <div class="test4">
                    <input type="button" value="全选" onclick="SelectALL();">
                </div>
                <div class="test4">
                    <input type="button" value="反选" onclick="backSelectALL();">
                </div>
                <div class="test4">
                    <input type="button" value="取消" onclick="clearSelectALL();">
                </div>
                <div class="test4">
                    <input type="submit" value="提交">
                </div>
            </form>
        </div>
        <div class="test3 display" id="study-jquery-for">
            <span>JQuery for循环</span>
        </div>
        <div class="test3 display" id="study-css-1">
            <span>CSS 选择器</span>
        </div>
        <div class="test3 display" id="study-html-1">
            <span>HTML 常用标签</span>
        </div>
    </div>
</div>


<script src="jquery-3.3.1.js"></script>
<script>
    function dis(parameter2) {
        var b = "#" + parameter2;
        $(b).removeClass("display");
        $(b).siblings().addClass("display");
    }
    function Func1(parameter1) {
        $(parameter1).addClass("cursor");
    }
    function Func2(parameter1) {
        $(parameter1).removeClass("cursor");
    }
    function Func3(parameter1) {
        $(parameter1).addClass("checked");                                                                      /*选中过后增加颜色*/
        $(parameter1).parent().parent().siblings().children().find(".css1").removeClass("checked");            /*其它的颜色取消*/
        $(parameter1).siblings().removeClass("checked");                                                        /*兄弟的颜色取消*/
        dis($(parameter1).attr("mid"));
    }
    function Func4(parameter1) {
        $(parameter1).siblings().removeClass("display");                                                        /*取消隐藏*/
        $(parameter1).parent().siblings().children().find(".css1").parent().addClass("display");               /*隐藏其它*/
    }
    function Func5(parameter1) {
        $(parameter1).addClass("menu");
    }
    function Func6(parameter1) {
        $(parameter1).removeClass("menu");
    }
    function Func7(parameter1) {
        $(parameter1).addClass("menu1");
        $(parameter1).siblings().removeClass("menu1");
        dis($(parameter1).attr("nid"));
    }
    function SelectALL() {
        $("form p input").prop("checked", true);
    }
    function backSelectALL() {
        $("form p input").each(function () {
            var a = $(this).prop("checked");
            if (a){
                $(this).prop("checked", false);
            }else{
                $(this).prop("checked", true);
            }
        })
    }
    function clearSelectALL() {
        $("form p input").prop("checked", false);
    }
</script>
</body>
</html>